
@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.woff2') format('woff2'),
         url('raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#main_wrapper
{
    width: 1200px;
    margin:auto;
    background-color: white;
    border: solid 2px #F2F2F2;
    font-family: 'ralewayregular', Arial, Helvetica, sans-serif;        
}
h2
{
    font-size: 1.1em;
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
}
header
{
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
    height: 100px;   
}



/*bloc menu*/
nav ul 
{
    display: flex;
    width: auto;
    margin-top: 50px;
    margin-right: 40px;
    list-style-type: none;
    
}
nav a
{
    text-decoration: none;
    color: black;
    margin-left: 60px;    
}
nav a:hover
{
    padding-top: 47px;
    color: #0065FC;
    border-top: solid 4px #0065FC;    
}
.menu_sinscrire
{
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    color: #0065FC;
}


  /*debut responsive queries jusqu'a ligne 35 html*/
@media all and (max-width: 1024px)      
{
    #main_wrapper
    {
        width: auto;
    }
    h2
    {
        font-size: 1.3em;
    }
    header
    {
        width: auto;
        height: 150px;
        align-items: flex-start;
        flex-direction: column-reverse;
        margin-bottom: 20px;
        border-bottom: solid 3px #F2F2F2; 
        position: relative;
    }
    header img
    {
        height: 50px;
    }
    nav ul
    {
        width: 500px;  
        padding-left: 0; 
        margin-bottom: 0;
        height: 40px;
    }
    nav a
    {
        width: auto;
        margin-left: 0;  
    }
    nav a:hover
    {
        padding-top: 0;
        border-top: 0;
    }
    #hebergement
    {
        width: 50%;
        height: 40px;
        display: flex;
        justify-content: space-around;
        font-size: 1.2em;
    }
    #hebergement:hover
    {
        border-bottom: solid 3px #0065FC;
    }
    #activite
    {
        width: 50%;
        height: 40px;
        display: flex;
        justify-content: space-around;
        font-size: 1.2em;
    }
    #activite:hover
    {
        border-bottom: solid 3px #0065FC;
    }
    .menu_sinscrire
    {
        position: absolute;
        top: 40px;
        left: 350px;
        font-size: 1.2em;
    }
    .logodusite
    {
        position: absolute;
        top: 20px; 
    }
    .def_reservia 
    {
        width: auto;
        font-size: 1.2em;
        margin-right: 40px;
        margin-bottom: 40px;
    }
}
/*fin responsive queries jusqu'a ligne 35 html*/


/*bloc logo principal*/
.logodusite
{  
    display: flex;
    align-items: flex-end;
    width: 200px;
    margin-left: 20px;   
}

/*titre et definition du site*/
.def_reservia
{
    width: 600px;
    margin-left: 20px;   
}

/*formulaire de recherche*/
form
{
    width: 400px;
    margin-left: 20px;
    margin-bottom: 40px;   
}
.fa-map-marker
{
    width: 20px;
    height: 20px;
    padding: 6px 5px 4px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2; 
    border: 1.5px solid #F2F2F2;  
}
input
{ 
    height: 29px;
    margin-left: -5px;
    border: 1px solid  #F2F2F2;  
}
.bouton_rechercher
{
    border: 1px solid #0065FC;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: -5px;
    height: 33px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background-color: #0065FC;
}

/*debut responsive queries jusqu'a ligne html*/
@media all and (max-width: 1024px)
{
    form
    {
        margin-bottom: 20px;
    }
}
/*fin responsive queries jusqu'a ligne html*/


/*bloc filtre*/
#filtre_bloc
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    width: 80%;
    margin-left: 20px;
    padding-left: 10px;    
}
.filtre_titre
{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.filtre_eco
{
    width: 160px;
    height: 30px;
    display: flex;
    border: solid #F2F2F2 2px;
    border-left-style: none;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
    margin-right: 30px;   
}
.filtre_eco span
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;      
}
.filtre_eco p
{ 
    margin-left: 10px;
    position: relative;
    right: 25px;   
}
.filtre_eco p:hover
{
    color:  #0065FC;   
}
.filtre_fam
{
    width: 130px;
    height: 30px;
    display: flex;
    border: solid #F2F2F2 2px;
    border-left-style: none;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
    margin-right: 30px;  
}
.filtre_fam span
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.filtre_fam p
{ 
    margin-left: 10px;
    position: relative;
    right: 25px;   
}
.filtre_fam p:hover
{
    color:  #0065FC;
}
.filtre_rom
{
    width: 160px;
    height: 30px;
    display: flex;
    border: solid #F2F2F2 2px;
    border-left-style: none;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
    margin-right: 30px;  
}
.filtre_rom span
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.filtre_rom p
{ 
    margin-left: 10px;
    position: relative;
    right: 25px;   
}
.filtre_rom p:hover
{
    color:  #0065FC;
}
.filtre_anim
{
    width: 200px;
    height: 30px;
    display: flex;
    border: solid #F2F2F2 2px;
    border-left-style: none;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
    margin-right: 30px;    
}
.filtre_anim span
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.filtre_anim p
{ 
    margin-left: 10px;
    position: relative;
    right: 25px;   
}
.filtre_anim p:hover
{
    color: #0065FC;
}

/*bloc info*/
.info
{  
    width: 40%;
    display: flex;
    margin-left: 20px;  
}
.info span 
{
    border-radius: 50%;
    border: solid #F2F2F2 2px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
}
.info p
{   
    display: flex;
    align-items: center;
    margin-left: 10px;    
}

/*debut responsive queries jusqu'a ligne html*/
@media all and (max-width: 1024px)
{
    #filtre_bloc
    {
        width: auto;
        height: 200px;
        margin-bottom: 10px;
        flex-wrap: wrap;
                                    /*font-size: 1.2em a checker*/
    }
    .filtre_titre
    {
        width: 500px;
    }
    .filtre_eco, .filtre_rom
    {
        width: auto;
        margin-left: 15px;
    }
    .filtre_rom
    {
        margin-right: 100px;  
    }
    .filtre_anim
    {
        margin-left: 15px;
    }
    .info
    {
        width: auto;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}
/*fin responsive queries jusqu'a ligne html*/

/*section bloc hebergement*/
section
{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
}
section a
{
    text-decoration: none;
    color: black;
}
section .fa-star, .fa-star-o
{
    color: #0065FC;
}
#bloc_hebergement 
{      
    background-color:#F2F2F2;
    width: 740px;
    height: 650px;
    margin-right: 20px;  
    border-radius: 20px; 
    display: flex;
    flex-wrap: wrap;   
}
#bloc_hebergement h2
{
    width: auto;
    margin-left: 20px;   
}
#bloc_hebergement img
{  
    height: 120px;
    width: 210px;
    margin: 5px 5px 0px 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.bloc_heb1
{
    display: flex;
    margin-bottom: 20px;
    width: 740px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px; 
}
.bloc_heb2
{
    display: flex;
    margin-bottom: 20px;
    width: 740px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}  
.choix_heb
{
    border-radius: 20px;
    background-color: white;
    width: 220px;
    box-shadow: 0px 5px 10px #D9D9D9;  
}
.choix_heb p
{
    width: auto;
    padding-left: 10px;
}
.vignette_titre
{
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
}
.afficher_plus
{   
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

/*debut responsive queries jusqu'a ligne html*/
@media all and (max-width: 1024px)
{
    section
    {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;  
    }
    #bloc_hebergement
    {
        background-color: white;  
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }
    .bloc_heb1
    {
        height: 800px;
        flex-direction: column; 
        align-items: baseline;
        
    }
    .bloc_heb2
    {
        height: 800px;
        flex-direction: column;
        align-items: baseline;
    }
    .choix_heb
    {
        width: 430px;
    }
    #bloc_hebergement img
    {
        width: 420px;
        height: 150px;
    }
    .choix_heb p
    {
        padding-left: 20px;
    }
}
/*fin responsive queries jusqu'a ligne html*/

/*section bloc populaire*/
#bloc_populaire
{
    background-color:#F2F2F2;
    width: 395px;
    height: 650px;
    margin-bottom: 20px;
    border-radius: 20px;      
}
#bloc_pop
{
    width: auto;
    height: 530px;
    padding: 10px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
#bloc_populaire img
{  
    width: 140px;
    height: auto;
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;  
}
#bloc_populaire h2
{   
    display: flex;
    justify-content: space-between; 
    margin: 20px 20px 25px 20px; 
}
#bloc_populaire p
{
    width: 200px;
    margin: 0px 30px 0px 15px; 
    padding-top: 10px;

}
.choix_pop
{   
    width: auto;
    display: flex;
    height: 150px;
    margin: 0px 20px 0px 20px;
    border-radius: 20px;
    border: white 5px solid; 
    background-color: white; 
    position: relative;  
    box-shadow: 0px 5px 10px #D9D9D9;  
}
.choix_pop .fa-star 
{
    margin-top: 60px;  
}

/*debut responsive queries jusqu'a ligne html*/
@media all and (max-width: 1024px)
{
    #bloc_pop
    {
        width: auto;
    }
    #bloc_populaire img
    {
        width: 180px;
    }
    #bloc_populaire
    {  
        width: auto;
        border-radius: 0;
        order: 1;
    }
    #bloc_populaire h2
    {
        margin-top: 40px;
        margin-bottom: 10px;
        width: 430px;
    }
    #bloc_populaire p
    {
        width: 170px;
    }
    .choix_pop
    {
        width: 420px; 
    }
    #bloc_hebergement
    {
        order: 2;
    }
    #bloc_activite
    {
        order: 3;
    }
}
/*fin responsive queries jusqu'a ligne html*/


/*dernier bloc activités*/
#bloc_activite
{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 450px;
    position: relative;
    margin-bottom: 20px;
    padding-top: 70px;   
}
#bloc_activite h2
{
    position: absolute;
    top: 15px;  
}
.vieux_port
{
    height: auto;
    margin-right: 30px;
    border-radius: 20px;
    border: #F2F2F2 1px solid;
    background-color: white;
    box-shadow: 0px 5px 10px #F2F2F2;
}
.activite1
{
    height: auto;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;     
}
.calanques
{        
    height: auto;
    border: #F2F2F2 1px solid; 
    margin-right: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #F2F2F2;
}
.activite2
{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
#bloc_activite img
{
    width: 265px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
}
#bloc_activite p
{
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    padding-left: 20px;   
}
.vieux_port img
{ 
    height: 393px;   
}
.pomegues
{   
    border: #F2F2F2 1px solid; 
    background-color: white;
    border-radius: 20px; 
    box-shadow: 0px 5px 10px #F2F2F2;
}
.pomegues img
{
    height: 200px;   
}
.frioul
{ 
    border: #F2F2F2 1px solid; 
    border-radius: 20px; 
    background-color: white; 
    box-shadow: 0px 5px 10px #F2F2F2;
}
.frioul img
{
    height: 105px;
}
.calanques img
{
    height: 393px;    
}
.notre_dame
{  
    border: #F2F2F2 1px solid; 
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #F2F2F2;
}
.notre_dame img
{
    height: 140px;
}
.longchamp
{
    border: #F2F2F2 1px solid; 
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #F2F2F2;
}
.longchamp img
{
    height: 165px;
}

/*debut responsive queries jusqu'a ligne html*/
@media all and (max-width: 1024px)
{
#bloc_activite
    {
        flex-direction: column;
        width: auto; 
        height: auto;
    }
    #bloc_activite h2
    {
        margin-left: 20px;
    }
    #bloc_activite p
    {
        padding-left: 20px;
    }
    #bloc_activite img
    {
        width: 420px;
        height: 200px;
    }
    .activite1, .activite2
    {
        width: 420px;
        margin-left: 20px;
        height: 550px;
        margin-bottom: 30px;
    }
    .vieux_port, .calanques
    {
        margin-left: 20px;
        width: 420px;
        margin-bottom: 30px; 
    }
}
/*debut responsive queries jusqu'a ligne html*/


/*section pied de page*/
footer
{
    width: auto;
    height: 200px;
    display: flex;
    background-color: #F2F2F2;  
}
#piedepage
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;  
}
.bloc_foot
{  
    margin-left: 20px;
}
.titre_foot
{
    font-family: 'ralewaybold', Arial, Helvetica, sans-serif;
    margin: 30px 0px 25px 0px;   
}

/*debut responsive queries jusqu'a ligne html*/
@media all and (max-width: 1024px)
{
    footer
    {
        height: auto;
        flex-direction: column;
    }
    #piedepage
    {
        flex-direction: column;
    }
}
