

@media screen and (max-width: 1200px) and (min-width: 500px)   
{
    #main_wrapper
    {
        width: auto;
        border: 0;
    }
    h2
    {
        font-size: 1.3em;
    }
    header
    {
        flex-direction: column-reverse;
        flex-wrap: wrap; 
    }
    nav ul 
    {
        width: 100%;
        margin-right: 0;
        padding-left: 0;
        margin-top: 40px;
        border-bottom: #F2F2F2 solid 1px;
    }
    nav li
    {
        width: 100%;
        height: auto;
        text-align: center;
        padding-bottom: 20px;    
    }
    nav a
    {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
    nav a:hover
    {
        padding-top: 0;
        border-top: 0;  
    }
    nav li:hover
    {
        border-bottom: solid 2px #0065FC;    
    }
    header img
    {
        width: 150px;
    }
    input 
    {
        width: 200px;
    }
    section
    {
        flex-wrap: wrap;
    }
    #bloc_hebergement
    {
        order: 2;
        width: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    #bloc_hebergement h2
    {
        margin-left: 20px;
    }
    #bloc_hebergement img
    {
        height: auto;
        width: 96%;
    }
    #bloc_hebergement p 
    {
        font-size: 1.1em;
    }
    .vignette_hebergement
    {
        margin-right: 20px;
        margin-left: 20px;
    }
    .choix_hebergement
    {
        width: 40%;
        margin-left: 20px;  
    }
    .afficher_plus
    {
        margin-left: 20px;
    }
    #bloc_populaire
    {
        order: 1;
        width: 100%;
        margin-left: 20px;
    }
    #bloc_populaire img 
    {
        width: 60%;
    }
    #bloc_populaire p 
    {
        font-size: 1.1em;
    }
    .vignette_pop
    {
        margin-left: 20px;
        margin-right: 20px;
    }
    .fa-chart-line
    {
        margin-left: 350px;
    }
    #bloc_activite
    {
        padding-top: 20px;
    }
    #bloc_activite h2
    {
        margin-left: 40px;
    }
    #bloc_activite p 
    {
        font-size: 1.1em;
    }
    .vieux_port
    {
        width: 45%;
        margin-bottom: 20px;
    }
    .activite1
    {
        width: 45%;
        margin-right: 20px;
    }
    .frioul
    {
        margin-bottom: 20px;
    }
    .calanques
    {
        width: 45%;
        margin-top: 10px;
    }
    .activite2
    {
        width: 45%;
    }
    .notre_dame
    {
        margin-top: 10px;
    }
    .bloc_foot
    {
        margin-right: 45px;
    }
    .titre_foot
    {
        font-size: 1.1em;
    }
}
