

@media screen and (max-width: 768px) and (min-width: 375px)     
{
    #main_wrapper
    {
        width: auto;
        border: 0;
    }
    h2
    {
        font-size: 1.3em;
    }
    header
    {
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }
    header img
    {
        width: 150px;
    }
    #filtre_bloc
    {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .filtre_titre
    {
        width: 100%;
        font-size: 1.3em;
    }
    .filtre_eco
    {
        margin-right: 80px;
        margin-left: 80px;
        margin-bottom: 40px;
    }
    .filtre_fam
    {
        width: 210px;
        margin-right: 80px;
    }
    .filtre_rom
    {
        margin-left: 80px;
    }
    .filtre_anim
    {
        margin-left: 45px;
    }
    section
    {
        flex-wrap: wrap;
    }
    #bloc_hebergement
    {
        width: 100%;
        margin-bottom: 20px;
    }
    #bloc_hebergement h2
    {
        margin-left: 20px;
    }
    .vignette_hebergement
    {
        margin-right: 20px;
    }
    .choix_hebergement
    {
        width: 40%;
        margin-left: 20px;  
    }
    .afficher_plus
    {
        margin-left: 20px;
    }
    #bloc_populaire
    {
        width: 100%;
        margin-left: 20px;
    }
    .vignette_pop
    {
        margin-left: 20px;
        margin-right: 20px;
    }
    .fa-chart-line
    {
        margin-left: 350px;
    }
    #bloc_activite
    {
        padding-top: 20px;
    }
    #bloc_activite h2
    {
        margin-left: 40px;
    }
    .vieux_port
    {
        width: 45%;
        margin-bottom: 20px;
    }
    .activite1
    {
        width: 45%;
        margin-right: 20px;
    }
    .frioul
    {
        margin-bottom: 20px;
    }
    .calanques
    {
        width: 45%;
        margin-top: 10px;
    }
    .activite2
    {
        width: 45%;
    }
    .notre_dame
    {
        margin-top: 10px;
    }
    .bloc_foot
    {
        margin-right: 45px;
    }
}
