

@media screen and (max-width: 480px)
{
    #main_wrapper
    {
        width: auto;
    }
    header
    {
        flex-wrap: wrap-reverse;
        position: relative;
    }
    nav ul 
    {
        flex-wrap: wrap-reverse;
        margin-right: 0;
        padding-left: 0;
        border-bottom: #F2F2F2 solid 1px;
        width: auto;
    }
    nav li 
    {
        width: 100%;
    }
    nav li:nth-child(1)
    { 
        width: 50%;
        height: 30px;
        border-bottom: solid 2px transparent;
    }
    nav li:nth-child(1):hover
    {
        border-bottom: solid 2px #0065FC;
    }
    nav li:nth-child(2)
    {
        width: 50%;
        height: 30px;
        border-bottom: solid 2px transparent;
    }
    nav li:nth-child(2):hover
    {
        border-bottom: solid 2px #0065FC;
    }
    nav li:nth-child(3)
    {
        text-align: end;
        height: 50px;
        width: 100%;
    }
    .menu_sinscrire
    {
       margin-right: 20px;
    }
    nav a 
    {
        text-align: center;
    }
    nav a:hover
    {
        border-top: 0;
        padding-top: 0;
    }
    .logodusite
    {
        position: absolute;
        top: 20px;
        left: 20px;
        margin-left: 0;
    }
    .def_reservia h2
    {
        font-size: 1.3em;
    }
    
    table 
    {
        width: auto;
    }
    td:nth-child(3)
    {
        width: 30px;
        position: relative;
    }
    .bouton_rechercher
    {
        width: 50px;
        color: transparent;

        position: relative;
    }
    td .fa-search
    {
        display: inline-block;
        position: absolute;
        left: 18px;
        top: 13px;
        color: white;
    }
    #filtre_bloc
    {
        margin-top: -20px;
        font-size: 0.9em;
    }
    .filtre_titre
    {
        width: 100%;
        font-size: 1.1em;
    }
    .filtre_eco
    {
        margin-left: 15px;
        width: 45%;
        margin-bottom: 10px;
        margin-right: 0px;
    }
    .filtre_fam
    {
        width: 35%;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .filtre_rom
    {
        margin-left: 15px;
        width: 43%;
        margin-bottom: 10px;
    }
    .filtre_anim
    {
        margin-left: 15px;
        width: 50%;
    }
    .info
    {
        width: auto;
        margin-right: 20px;
    }
    section
    {
        width: auto;
        flex-direction: column;
    }
    .fa-star
    {
        font-size: 0.9em;
    }
    #bloc_populaire
    {
        order: 1;
        width: 100%;
        margin-left: 0;
        border-radius: 0; 
        margin-right: 0;
    }
    .vignette_pop
    {
        width: auto; 
        flex-direction: column;
    }
    .fa-chart-line
    {
        margin-left: 80px;
    }
    .choix_pop
    {
        width: auto;
        height: 150px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .titre_pop_etlogo
    {
        margin-bottom: 0;
    }
    #bloc_populaire p
    {
        width: 50%;
        margin-left: 10px;
        margin-right: 20px;
        font-size: 0.9em; 
    }
    .choix_pop .fa-star 
    {
        margin-top: 60px;
    }
    #bloc_hebergement
    {
        order: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        background-color: white;
        border-radius: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #bloc_hebergement h2
    {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .vignette_hebergement
    {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .choix_hebergement
    {
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }
    #bloc_hebergement img 
    {
        width: 97%;
        height: 140px;
    }
    .choix_hebergement p
    { 
        font-size: 0.9em;
    }
    .afficher_plus
    {
        margin-left: 20px;
        margin-right: 20px;
    }
    #bloc_activite
    {  
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        height: auto;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
    }
    #bloc_activite h2
    {
        margin-left: 20px;
        margin-right: 20px;   
    }
    #bloc_activite p
    {
        font-size: 0.9em;
    }
    .vieux_port
    {
        width: auto;
        height: auto;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .vieux_port img
    {
        height: 180px;
    }
    .activite1
    {
        width: auto;
        height: auto;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .activite1 img
    {
        height: 180px;
    }
    .pomegues
    {
        margin-bottom: 20px;
    }
    .frioul
    {
        margin-bottom: 0;
    }
    .calanques
    {
        width: auto;
        height: auto;
        margin-bottom: 20px;
        margin-top: 0;
        margin-left: 15px;
        margin-right: 15px;
    }
    .calanques img
    {
        height: 180px;
    }
    .activite2
    {
        width: auto;
        height: auto;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .activite2 img
    {
        height: 180px;
    }
    .notre_dame
    {
        margin-bottom: 20px;
        margin-top: 0;
    }
    #piedepage
    {
        flex-direction: column;
        width: auto;
    }
    .bloc_foot
    {
        margin-left: 20px;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .titre_foot
    {
        margin-top: 30px;
    }
}